body {
  font: 13px Helvetica, arial, sans-serif;
  padding: 30px 100px;
}

.form-wrapper {
  padding: 30px;
  margin: 0 0 0 -30px;
  border: 1px solid #abc;
  border-radius: 30px;
}

.form-wrapper form .form-field {
  padding: 5px 15px;
}
.form-wrapper form .form-field:nth-child(odd) {
  background-color: #def;
}
.form-wrapper form .form-field:after {
  content: '';
  display: block;
  clear: both;
}

.form-wrapper form .form-field > * {
  float: left;
}

.form-wrapper form .form-field label {
  width: 150px;
}

#results {
  font-size: 16px;
  padding: 20px 0 30px 0;
  color: #f33;
}

